.nav-link{
    color: rgb(255, 255, 255);
    font-family : 'Open Sans', sans-serif;
    font-size:x-large;
    font-weight: bold;
}
.nav{
    background-color: rgb(12, 21, 44);
    padding: 20px;
}
.author{
    font-size:medium;
    color: cornflowerblue;
}
#actu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

body{
    background: #67BE4B;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

form{
    border: 1px solid rgb(180, 163, 131);
    padding:3px;
    background-color:orange;
}
.form-group{
width:400px;
padding-left: 305px;
text-align: left;
vertical-align: top;
}
label.form-control{
float: left;
margin-left: -305px;
font-weight:bold;
}
.form-submit{
width: 400px;
padding-left: 305px;
padding-top: 23px;
text-align: left;
vertical-align: bottom;

}